In [5]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [19]:
countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

In [20]:
# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values, index = countries)
gdp = pd.Series(gdp_values,index = countries)
gdp.head(5)

Albania                 1681.613910
Algeria                 2155.485231
Andorra                21495.805083
Angola                   562.987685
Antigua and Barbuda    13495.127466
dtype: float64

In [26]:
   
def variable_correlation(var1, var2):
    '''
    Fill in this function to calculate the number of data points for which
    the directions of variable1 and variable2 relative to the mean are the
    same, and the number of data points for which they are different.
    Direction here means whether each value is above or below its mean.
    
    You can classify cases where the value is equal to the mean for one or
    both variables however you like.
    
    Each argument will be a Pandas series.
   
    '''
    both_above = (var1 > var1.mean()) & \
                  (var2 > var2.mean())
    both_below = (var1 < var1.mean()) & \
                  (var2 < var2.mean())
    is_same_direction = both_above | both_below
    
    num_same_direction = is_same_direction.sum()
            
    num_different_direction = len(var1) - num_same_direction   # Replace this with your code
    
    return (num_same_direction, num_different_direction)

In [27]:
variable_correlation(life_expectancy,gdp)

(17, 3)

In [28]:
life_expectancy.loc['Bolivia']

70.599999999999994

In [30]:
life_expectancy.iloc[0]

74.700000000000003

In [31]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola',
    'Argentina', 'Armenia', 'Australia', 'Austria',
    'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize',
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076,
]

# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

def max_employment(employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    
    The input will be a Pandas series where the values
    are employment and the index is country names.
    
    Try using the Pandas idxmax() function. Documention can
    be found here:
    http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.idxmax.html
    '''
    max_country = employment.idxmax()      # Replace this with your code
    max_value = employment.loc[max_country]   # Replace this with your code

    return (max_country, max_value)

In [32]:
max_employment(employment)

('Angola', 75.699996949999999)

In [33]:
print employment.idxmax()

Angola

In [34]:
print employment.values.argmax()

3

In [36]:

s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])

In [45]:
index_1 = s1.index.tolist()
len(index_1)

4

In [46]:
index_2 = s2.index.tolist()
len(index_2)

4

In [47]:
'a' in index_2

False

In [56]:
for i in range(len(index_1)):
    if index_1[i] in index_2:
        continue
    else:
        s2[index_1[i]] = 0
for j in range(len(index_2)):
    if index_2[j] in index_1:
        continue
    else:
        s1[index_2[j]] = 0

In [58]:
s1 + s2

a     1
b     2
c    13
d    24
e    30
f    40
dtype: int64

In [55]:
s1

a    1
b    2
c    3
d    4
f    0
e    0
dtype: int64

In [60]:

names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

In [88]:
def reverse_names(names):
    '''
    Fill in this function to return a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    
    Try to use the Pandas apply() function rather than a loop.
    '''
    
    names_1 = pd.Series(index = names.axes)


    for i in range(len(names)):
        list = names.loc[i].split()
        list[1], list[0] = list[0], list[1]
        myString = ",".join(list)
        names_1.loc[i] = myString
        print type(names_1.loc[i])
    return names_1

reverse_names(names)

<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>

0             Agassi,Andre
1              Bonds,Barry
2     Columbus,Christopher
3             Defoe,Daniel
4           Estevez,Emilio
5          Flintstone,Fred
6              Garbo,Greta
7          Humbert,Humbert
8               Ilych,Ivan
9              Joyce,James
10         Knightley,Keira
11               Lane,Lois
12              Myers,Mike
13              Nolte,Nick
14           Osbourne,Ozzy
15           Picasso,Pablo
16       Quirrell,Quirinus
17             Ray,Rachael
18          Sarandon,Susan
19             Turner,Tina
20           Urbina,Ugueth
21            Vaughn,Vince
22          Wilson,Woodrow
23             Yamada,Yoji
24         Zidane,Zinedine
dtype: object

In [81]:
names.axes

[RangeIndex(start=0, stop=25, step=1)]

In [84]:

names_1 = pd.Series(index = names.axes)


for i in range(len(names)):
    list = names.loc[i].split()
    list[1], list[0] = list[0], list[1]
    myString = ",".join(list)
    names_1.loc[i] = myString
names_1

['Andre', 'Agassi']
['Barry', 'Bonds']
['Christopher', 'Columbus']
['Daniel', 'Defoe']
['Emilio', 'Estevez']
['Fred', 'Flintstone']
['Greta', 'Garbo']
['Humbert', 'Humbert']
['Ivan', 'Ilych']
['James', 'Joyce']
['Keira', 'Knightley']
['Lois', 'Lane']
['Mike', 'Myers']
['Nick', 'Nolte']
['Ozzy', 'Osbourne']
['Pablo', 'Picasso']
['Quirinus', 'Quirrell']
['Rachael', 'Ray']
['Susan', 'Sarandon']
['Tina', 'Turner']
['Ugueth', 'Urbina']
['Vince', 'Vaughn']
['Woodrow', 'Wilson']
['Yoji', 'Yamada']
['Zinedine', 'Zidane']

0             Agassi,Andre
1              Bonds,Barry
2     Columbus,Christopher
3             Defoe,Daniel
4           Estevez,Emilio
5          Flintstone,Fred
6              Garbo,Greta
7          Humbert,Humbert
8               Ilych,Ivan
9              Joyce,James
10         Knightley,Keira
11               Lane,Lois
12              Myers,Mike
13              Nolte,Nick
14           Osbourne,Ozzy
15           Picasso,Pablo
16       Quirrell,Quirinus
17             Ray,Rachael
18          Sarandon,Susan
19             Turner,Tina
20           Urbina,Ugueth
21            Vaughn,Vince
22          Wilson,Woodrow
23             Yamada,Yoji
24         Zidane,Zinedine
dtype: object

In [ ]:
def reverse_names(names):
    '''
    Fill in this function to return a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    
    Try to use the Pandas apply() function rather than a loop.
    '''
    return None